@import "../utils/function";
@import "../utils/variables";

.container {
  display: flex;
  grid-gap: 20px;
  padding: 30px 20px;
}
.containerTop {
  display: flex;
  flex-direction: column;
}

.containerRight {
  width: 100%;
}
.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-weight: bold;
  .fas_relative{
    position: relative;
    width: 400px;
  }
  .fas_relative input {
   border: #000 3px solid;
   width: 100%;
 }
  .fas_relative .fas { 
   position: absolute;
   color: #fff;
   background-color: $hexrestaurant;
   padding: 6.5px;
    top: 0;
   font-size: 13px;
 }
  .material-symbols-outlined {
   font-size: 27px;
   color: #000;
   position: relative;
   .carNum {
     position: absolute;
     font-size: 8px;
     padding: 3px 3px;
     border-radius: 50%;
     background-color: red;
     color: #fff;
     right: -3px;
   }
 }
}
.searchCheck,
.searchCheck a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

@media (max-width:1000px) {
  .container{
max-width: 1000px;
  }
}

@include pad() {
  .container {
    flex-direction: column;
  }
  .containerRight {
    width: 100%;
  }
  .searchBar {
    flex-direction: column;
    align-items: end;
    grid-gap: 10px;
  }
  .searchBar .fas {
    position: relative;
    margin-left: -28px;
  }
  .searchBar input {
    width: 80%;
    align-self: start;
  }
  .searchCheck {
    font-size: 25px;
  }
}
