@import "../utils/variables";
@import "../utils/mix";

.chef {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $hexrestaurant;
  padding: 0px 42px;
  img {
    width: 50%;
  }
}
.chefContent {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding-left: 20px;
  line-height: 1.5em;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  p {
   padding-top: 30px;
 }
}
.chefOpen {
  display: none;
  background-color: #fff;
  opacity: 30%;
  cursor: pointer;
  width: 50%;
  text-align: center;
  border-radius: 10%;
  padding: 5px 0px;
}
@include pad() {
  .chef {
    flex-direction: column;
    img {
        width: 100%;
      }
  }
  .chefContent p {
    padding: 0px;
    max-height: 150px;
    overflow: hidden;
    /* 過長內文也可用 */
    /* overflow: auto; */
  }
  .chefOpen {
    display: block;
  }
  .open2 .chefContent p {
    max-height: 400px;
    transition: all 2s;
  }
}


