@import "../utils/function";

.loginWrap {
  padding: 15px;
  background-color: #efe9e7;
}
.loginWrapCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  border-top: #ff5e45 solid 4px;
  box-shadow: 1px 1px 3px gray;
  padding: 15px;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  h4 {
   text-align: center;
   font-size: 18px;
   padding-bottom: 15px;
   font-weight: bold;
 }
}
.loginContainer {
  display: flex;
  width: 100%;
}
.loginInfor {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  grid-gap: 10px;
  position: relative;
  width: 100%;
  input {
    border: 1px #ccc solid;
    border-radius: 1%;
    height: 30px;
    padding-left: 20px;
  }
  p {
   color: gray;
  }
}
#loginMail {
  position: absolute;
  top: 32px;
  font-size: 20px;
  color: gray;
}
#loginPassword1 {
  position: absolute;
  font-size: 20px;
  top: 100px;
  color: gray;
  margin-right: 10px;
}
.loginButton {
  align-self: end;
}
.loginButtonCancel {
  color: #fff;
  border: none;
  background-color: gray;
  padding: 5px 20px;
  font-size: 14px;
  cursor: pointer;
}
.loginButtonSend {
  color: #fff;
  border: none;
  background-color: orangered;
  padding: 5px 20px;
  font-size: 14px;
  cursor: pointer;
}
@include pad() {
  .loginWrapCenter {
    width: 90%;
  }
  .loginButton {
    display: flex;
    width: 100%;
    grid-gap: 10px;
  }
  .loginButtonCancel,
  .loginButtonSend {
    width: 50%;
  }
}
