@import "../utils/function";

.footer {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  grid-gap: 20px;
  background-color: #efe9e7;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  .footerMid {
   display: block;
   color: #000;
  }
  .footerMid:hover {
   color: blueviolet;
  }
}
.footerItem {
  width: 30%;
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 24px;
    padding-bottom: 20px;
  }
  li {
    list-style: disc;
  }
  a img {
   width: 10%;
   padding: 10px 10px;
  }
  a img:hover {
   background-color: #fff;
   border-radius: 50%;
  }
}
.footerLogo {
  background-image: url(../assets/footer.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 245px;
  height: 49px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  align-self: end;
}
.footerEnd {
  text-align: end;
  padding-right: 15px;
}
@include pad() {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footerItem {
    width: 95%;
    margin: 0 auto;
  }
}